{% extends 'main/layout.html' %}

{% block title %}
Hacker News
{% endblock %}

{% block articles %}

<div class="articls">
    {% for el in articls %}
        <div class="article">
            <span class="number">
                {{el.id}}.
            </span> 
            <span class="article_title">
                <a href="{{el.url}}">{{ el.title }}</a>
                <a href="#"><span class="url_good">({{ el.url_good }})</span></a>
                <p class="bottom_title">{{ el.date }}</p>
            </span>          
        </div>
    {% endfor %}  
</div>    
<p class="more">
    <a href="#">More</a>
</p>

{% endblock %}

