{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'main/img/favicon.gif' %}" type="image/gif">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="uppanel">
        <div class="panel">
            <a href="{% url 'home' %}"><img src="{% static  'main/img/favicon.gif' %}" alt="иконка" class="logo"></a>
            <span class="panelurl">
                <a href="{% url 'home' %}"><strong class="title">Hacker News</strong></a>
                <a href="{% url 'new' %}" class="url">new</a>
                |
                <a href="{% url 'past' %}" class="url">past</a>
                |
                <a href="{% url 'comments' %}" class="url">comments</a>
                |
                <a href="{% url 'ask' %}" class="url">ask</a>
                |
                <a href="{% url 'show' %}" class="url">show</a>
                |
                <a href="{% url 'jobs' %}" class="url">jobs</a>
                |
                <a href="{% url 'submit' %}" class="url">submit</a>
            </span>
        </div>
        <div class="registor">
            <span class="panelurl">
                <a href="{% url 'logreg' %}" class="reg">login</a>
            </span>
        </div>
    </header>
    <main class="main">
        {% block articls %}
        {% endblock %}
    </main>
    <footer class="footer">
        <hr class="line">
        <div class='podval'>
            <a href="#">Guidelines</a>
            |
            <a href="#">FAQ</a>
            | 
            <a href="#">Lists</a>
            |
            <a href="#">API</a>
            | 
            <a href="#">Security</a>
            | 
            <a href="#">Legal</a>
            | 
            <a href="#">Apply to YC</a>
            |
            <a href="#">Contact</a>
            <form action="#" class="fild">
            Search: <input type="text">
            </form>
        </div>
    </footer>
</body>
</html>